<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
    <title>Back</title>
    <style>
        h1 {
            font-size: 130%;
        }
    </style>
</head>
<body>
<div>
    <h1>
        Добавление сслыки
    </h1>
    <form method="post">
        <input type="text" name="link" id="link" class="form-control" placeholder="link"><br>
        <input type="text" name="name" id="name" class="form-control" placeholder="name"><br>
        <input type="submit" class="btn btn-success" value="Добавить">
    </form>
</div>
</body>
</html>